.heading {
    background-color: rgb(221, 96, 238);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

.btn {
    background-image: linear-gradient(to right, rgb(224, 102, 102), rgb(190, 105, 230));
    border-radius: 14.5px;
    cursor: pointer;
    border: none;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
}

.links ul li {
    list-style: none;
    position: relative;
    margin: 20px 30px;
}

.links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    cursor: grab;
    color: rgb(210, 118, 43);
}

.p {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer {
    background-color: white;
    color: rgb(5, 4, 4);
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: space-around;
}